* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

@media screen and (min-width:320px) {

    html,
    body,
    main {
        width: 100%;
        height: 100%;
    }

    .content-img-login {
        display: none;
    }

    .content-body-login {
        display: grid;
        grid-template-columns: none;
    }

    .content-login {
        display: grid;
        justify-content: center;
        align-content: center;
        margin-top: 10vh;
    }


    .titles-login {
        margin: 5px;
    }

    .titles-login>h5,
    h3 {
        margin: 5px;
    }

    .label-login {
        margin: 5px;
    }

    .input-login {
        width: 350px;
        height: 40px;
        border: 1px solid #dddd;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
    }

    .content-remember-password {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
    }

    .content-forgot-password,
    .content-link-register {
        text-decoration: none;
        color: #2b6cb0;
    }

    .content-remember {
        border-radius: 100%;
    }

    .content-button-login,
    .content-button-login-google {
        width: 350px;
        height: 40px;
        margin: 10px;
    }

    .content-button-login {
        background-color: #04c35c;
        color: #ffffff;
        border: none;
        border-radius: 5px;
    }

    .content-button-login-google {
        background-color: #1a202c;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;

    }

    .img-icon-google {
        margin: 5px;
    }

    .content-register {
        display: flex;
        justify-content: center;
        margin-top: 10vh;
    }

    .content-link-register {
        margin-left: 10px;
    }
}


@media screen and (min-width:1024px) {

    .content-img-login {
        display: grid;
        background-color: #F7FAFC;
        justify-content: center;
        align-content: center;

    }

    .content-body-login {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 100%;
        width: 100%;
    }

    .content-login {
        margin-top: 0;
    }



    .input-login,
    .content-button-login,
    .content-button-login-google {
        height: 50px;
        width: 350px;
        font-size: 20px;
    }

}

@media screen and (min-width:1200px) {


    .content-body-login {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%; 
        justify-content: center; 
        align-content: center;
        height: 100%;
        width: 100%;
    }

  .content-login{
    margin: 5px;
    margin-top: 200px;
  }


    .input-login,
    .content-button-login,
    .content-button-login-google {
        font-size: 15px;
    }

    .input-login {
        width: 450px;
        height: 40px;
    }

    .content-button-login,
    .content-button-login-google {
        width: 450px;
        height: 40px;
    }



    .content-register {
        margin-top: 15vh;
    }

    .content-link-register {
        margin-left: 10px;
    }
}