@media screen and (min-width:320px) {

    html,
    main {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }

    .content-img-login {
        display: none;
    }

    .content-body-login {
        display: grid;
        grid-template-columns: none;
    }

    .content-login {
        display: grid;
        justify-content: center;
        align-content: center;
    }


    .titles-login {
        margin: 10px;
    }

    .label-login {
        margin: 5px;
    }

    .input-login {
        width: 350px;
        height: 40px;
        border: 1px solid #dddd;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
    }

    .content-remember-password {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
    }

    .content-remember {
        border-radius: 100%;
    }

    .content-button-login,
    .content-button-login-google {
        width: 350px;
        height: 40px;
        margin: 10px;
    }

    .content-button-login {
        background-color: #04c35c;
        color: #ffffff;
        border: none;
        border-radius: 5px;
    }

    .content-button-login-google {
        background-color: #1a202c;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;

    }

    .img-icon-google {
        margin: 5px;
    }

    .content-register {
        display: flex;
        justify-content: center;
        margin: 40px;
    }
}

@media screen and (min-width:992px) {

    html,
    main {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }

    .content-img-login {
        display: grid;
        background-color:  #F7FAFC;
        justify-content: center;
        align-content: center;
    }

    .content-body-login {
        display: grid;
        grid-template-columns: 600px 600px;
    }

    .content-login {
       margin: 65px;
    }


    .titles-login {
        margin: 10px;
    }

    .label-login {
        margin: 5px;
    }

    .input-login {
        width: 350px;
        height: 40px;
        border: 1px solid #dddd;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
    }

    .content-remember-password {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
    }

    .content-remember {
        border-radius: 100%;
    }

    .content-button-login,
    .content-button-login-google {
        width: 350px;
        height: 40px;
        margin: 10px;
    }

    .content-button-login {
        background-color: #04c35c;
        color: #ffffff;
        border: none;
        border-radius: 5px;
    }

    .content-button-login-google {
        background-color: #1a202c;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;

    }

    .img-icon-google {
        margin: 5px;
    }

    .content-register {
        display: flex;
        justify-content: center;
        margin: 40px;
    }
}